Eric-Practice/n8n/VA.json
{
  "name": "語音助手",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "=POST",
        "path": "b624cb81-212d-4f3a-be47-f4761324aeef",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "1efd11c6-fa14-4251-8737-7825f721123f",
      "name": "Webhook",
      "webhookId": "b624cb81-212d-4f3a-be47-f4761324aeef"
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "={{ $json.body.SearchQuery }}"
            }
          ]
        },
        "simplify": true,
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "728792d6-ebe3-463f-8056-d2fa900baa7b",
      "name": "Message a model",
      "credentials": {
        "perplexityApi": {
          "id": "HXMQIKmf5o65lI7l",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "你是一個資料摘要專家。我等等會餵給你一些資訊，請你將他整理成適合播報給老人家聽的格式，不需要太長，只要回答問題就好了\n\n像日常對話那樣，不需要太多的擬聲詞，大概兩句話"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "9acf89b8-e924-4c66-a9a3-cbfe9d61010e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "id": "85c3a86d-26aa-4a7b-bd45-5fd27e416d69",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "OzE5LtXZQK43oVdT",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        0
      ],
      "id": "0d617513-3d8b-4693-bf33-9687422dbcf1",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "483b67a2-288b-4a10-a732-f288ffdd461c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "299d7eed2c0c6544a8036b71370705df78b5527b605de12dda8543cdb45ddf02"
  },
  "id": "8WsJLR6X8i4P1VL1",
  "tags": []
}